{
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		"block-no-empty": true,
		"block-closing-brace-empty-line-before": "never",
		"block-opening-brace-space-before": "always",
		"color-no-invalid-hex": true,
		"declaration-colon-space-after": "always-single-line",
		"declaration-colon-space-before": "never",
		"indentation": "tab",
		"length-zero-no-unit": true,
		"max-empty-lines": 1,
		"number-leading-zero": "always",
		"property-case": "lower",
		"string-quotes": "double",
		"value-keyword-case": "lower",
		"value-list-comma-space-after": "always-single-line",
		"value-list-max-empty-lines": 0,
		"order/order": [
			"custom-properties",
		"declarations"
		],
	}
}
